@font-face {
  font-family: "Spartan";
  src: url("../../font-family/Spartan-VariableFont_wght.ttf");
}

.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  height: 30%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav {
  color: white;
  flex-basis: 4rem;
  text-align: center;
  font-size: 0.6rem;
  font-family: "Spartan";
  font-weight: 550;
  text-decoration: none;
}

.weigthed_nav {
  color: white;
  flex-basis: 5rem;
  text-align: center;
  font-size: large;
  font-family: "Spartan";
  font-weight: 1000;
  text-decoration: none;
}
